/*定义全局样式*/
cwhite = #fff
cblack = #000
cred = #ff0000
cgray9 = #999
cgray6 = #666
cgray3 = #333
cgrayc = #C7C7CC
cgraye5 = #e5e5e5
cgray80 = #808080
cf5 = #F5F5F5
cblue = #1C98F6
cgreen = #0ac782
corange = #F77A27
font12 = 12PX
font14 = 14PX
font16 = 16PX
font17 = 17PX
font18 = 18PX
font20 = 20PX
font22 = 22PX
font24 = 24PX
font25 = 25PX
font26 = 26PX
font28 = 28PX
font30 = 30PX
font32 = 32PX
font34 = 34PX
font36 = 36PX
font38 = 38PX
font39 = 39PX
font40 = 40PX
font42 = 42PX
font44 = 44PX
font45 = 45PX
font46 = 46PX
font48 = 48PX
font50 = 50PX
font51 = 51PX
font52 = 52PX
font54 = 54PX
font56 = 56PX
font58 = 58PX
font60 = 60PX
font75 = 75PX
font78 = 78PX
font90 = 90PX
font100 = 100PX
font200 = 200PX
font300 = 300PX
font = "Microsoft YaHei","微软雅黑",Arial,sans-serif,"Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB"
totalWid = 750px
halfScreenWid = 375px
flex(d,s)
	display:flex
	flex-flow:row nowrap
	justify-content:space-between
	align-items:center
ellipsis()
	white-space:nowrap
	text-overflow:ellipsis
	overflow:hidden